body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* App Styles */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* UserCard styles */

.user-card {
  height: 200px;
  width: 500px;
}

.user-card-title {

}

/* Leader Styles */

.leader {
  display: inline-block;
  height: 100%;
}

/* Avatar Styles */

.avatar {
  display: inline-block;
  width: 128px;
  height: 128px;
}

.avatar img {
  border-radius: 50%;
}

/* Score Styles */

.score {
  display: inline-block;
}

/* Nav Styles */

.nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
}

.nav-avatar {

}
