body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* UserCard styles */

.user-card {
}

/* Leader Styles */

.leader {
  display: inline-block;
}

/* Avatar Styles */

.avatar {
  display: inline-block;
}

/* Score Styles */

.score {
  display: inline-block;
}

/* Nav Styles */

.nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: inline-block;
}

.nav-avatar {
  
}
