* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecedea;
  color: #222222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* App Styles */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 20px;
  background-color: #208c39;
  color: white;
  padding: .4em 0 .4em 0;
}

button:hover {
  background-color: #28a745;
  cursor: pointer;
}

button:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}

/* UserCard styles */

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* keeps title on own line */
  -webkit-box-shadow: 7px 7px 15px 0px rgba(85,85,85,0.8);
  -moz-box-shadow: 7px 7px 15px 0px rgba(85,85,85,0.8);
  box-shadow: 7px 7px 15px 0px rgba(85,85,85,0.8);
  padding: 0;
  margin: 1em;
  background-color: white;
}

.user-card-title {
  width: 100%; /* to keep on own line */
  background-color: #555555;
  color: white;
  padding-left: 1em;
  border-bottom: 1px solid #555555;
}

/* Question Styles */
.question-preview {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 128px;
}

.question-preview-text {
  margin: auto 1em .5em 0;
  font-size: 18px;
}

.question-preview-btn {
  text-decoration: none;
  padding: 12px 28px;
  margin-right: 1em;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #208c39;
  font-size: 18px;
}

.question-preview-btn:hover {
  background-color: #28a745;
  cursor: pointer;
}

.question-preview-btn:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}

/* Leader Styles */

.leader {
  display: inline-block;
  height: 100%;
}

/* Avatar Styles */

.avatar {
  display: inline-block;
  width: 128px;
  height: 128px;
  margin: 1em;
}

.avatar img {
  border-radius: 50%;
}

/* Score Styles */

.score {
  display: inline-block;
}

/* Nav Styles */

.nav ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  display: inline-block;
}

.nav-avatar {

}

/* New Styles */
.new {
  -webkit-box-shadow: 7px 7px 15px 0px rgba(85,85,85,0.8);
  -moz-box-shadow: 7px 7px 15px 0px rgba(85,85,85,0.8);
  box-shadow: 7px 7px 15px 0px rgba(85,85,85,0.8);  padding: 0 2em 2em 2em;
  margin: .5em;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

#new-form {
  display: flex;
  flex-direction: column;
}

#new-form input {
  font-size: 1.5em;
  padding: .5em 1em 0 0;
  margin: 0 0 1em 0;
}

.new button {
  font-size: 1.5em;
  margin: 0;
}

/* Login Styles */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-container {
  width: 40%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 7px 7px 15px 0px rgba(85,85,85,0.8);
  -moz-box-shadow: 7px 7px 15px 0px rgba(85,85,85,0.8);
  box-shadow: 7px 7px 15px 0px rgba(85,85,85,0.8);
}

#login-form select {
  width: 400px;
  font-size: 20px;
}

.login-form-container button {
  font-size: 20px;
  width: 400px;
  margin: 1em 0 1em 0;
}
